<div style="margin-top: 80px;">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">First Name</th>
            <th scope="col">Second Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active" *ngFor="let data of studentData">
                <th>{{data.firstName}}</th>
                <td>{{data.lastName}}</td>
                <td>{{data.phoneNumber}}</td>
                <td>
                        <button type="button" *ngIf="!data.status" (click)="toggleIt(data.sId)" class="btn btn-primary">Unblock</button>
                        <button type="button" *ngIf="data.status" (click)="toggleIt(data.sId)" class="btn btn-danger">Block</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>