<div style=" margin-top:60px ;display: flex; padding-top: 3%; padding-bottom: 8%; padding-left: 2%; padding-right: 2%;height: 100vh; width: 100vw; justify-content: center; flex-direction: column; align-items: center;">
  <div *ngIf="showSuccess" class="alert alert-success" role="alert">
    Registeration is Successful
  </div>     
  <div><H1>LOGIN</H1></div>
       <div>
            <form style=" width: 450px;" #signInForm="ngForm" (ngSubmit)="loginUser(signInForm)">
                    <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                      <div class="col-sm-10">
                        <input ngModel type="email" class="form-control" name="Email" id="inputEmail3" placeholder="Email">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                      <div class="col-sm-10">
                        <input ngModel type="password" class="form-control" name="Password" id="inputPassword3" placeholder="Password">
                      </div>
                    </div>
                    <fieldset class="form-group">
                      <div class="row">
                        <legend class="col-form-label col-md-3 pt-0">Role</legend>
                        
                          <div class="form-check col-md-3">
                            <input ngModel class="form-check-input" type="radio" name="Role" id="gridRadios1" value=3 checked>
                            <label class="form-check-label" for="gridRadios1">
                              Student
                            </label>
                          </div>
                          <div class="form-check col-md-3">
                            <input ngModel class="form-check-input" type="radio" name="Role" id="gridRadios2" value=2>
                            <label class="form-check-label" for="gridRadios2">
                              Mentor
                            </label>
                          </div>
                          <div class="form-check col-md-3">
                            <input ngModel class="form-check-input" type="radio" name="Role" id="gridRadios3" value=1 >
                            <label class="form-check-label" for="gridRadios3">
                              Admin
                            </label>
                          </div>
                        
                      </div>
                    </fieldset>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                      </div>
                    </div>
                  </form>
       </div>
</div>