<div style="margin-top: 80px; padding-left: 3%; padding-right: 3%;">
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">First Name</th>
                <th scope="col">Second Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Skill</th>
                <th scope="col">Experience</th>
                <th scope="col">UserName</th>
                <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-active" *ngFor="let data of mentorData">
                    <th>{{data.firstName}}</th>
                    <td>{{data.lastName}}</td>
                    <td>{{data.phoneNumber}}</td>
                    <td>{{data.skill}}</td>
                    <td>{{data.experience}}</td>
                    <td>{{data.userName}}</td>
                    <td>
                        <button type="button" *ngIf="!data.status" (click)="toggleIt(data.mId)" class="btn btn-primary">Unblock</button>
                        <button type="button" *ngIf="data.status" (click)="toggleIt(data.mId)" class="btn btn-danger">Block</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>